DEBUG=True
ENVIRONMENT=development
SECRET_KEY=replace-with-a-long-random-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.100.16
DATABASE_NAME=lang
DATABASE_USER=postgres
DATABASE_PASSWORD=replace-me
DATABASE_HOST=localhost
DATABASE_PORT=5432
GOOGLE_OAUTH_CLIENT_IDS=
